<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <h1>Crytocurrencies</h1>
    <table id="dtBasicExample" class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Portfolio</th>
                <th scope="col">Value</th>
                <th scope="col">Paid price</th>
                <th scope="col">Current price</th>
                <th scope="col">%</th>
                <th scope="col">Cost</th>
                <th scope="col">P/L</th>
                <th scope="col">Low (24h)</th>
                <th scope="col">High (24h)</th>
                <th scope="col">Volume (24h)</th>
                <th scope="col">Add/Edit/<a th:href="@{/bitstamp/delete}">Delete</a></th>
                <th scope="col">Chart</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="balanceList : ${balanceList5}">
                <td th:text="${balanceList.name}"></td>
                <td th:text="${balanceList.portfolioName}"></td>
                <td th:text="${balanceList.value}"></td>
                <td th:text="${balanceList.paidPrice}"></td>
                <td th:text="${balanceList.currentPrice}"></td>
                <td th:switch="${balanceList.profitOrLossPercentage}">
                    <span th:case="'black'" th:text="${balanceList.priceUpDownPercent}"></span>
                    <span th:case="'red'" th:style="'color:red'" th:text="${balanceList.priceUpDownPercent}"></span>
                    <span th:case="'green'" th:style="'color:green'" th:text="${balanceList.priceUpDownPercent}"></span>
                </td>
                <td th:text="${balanceList.amountSpendToBuy}"></td>
                <td th:switch="${balanceList.profitOrLossPercentage}">
                    <span th:case="'black'" th:text="${balanceList.profitOrLossValue}"></span>
                    <span th:case="'red'" th:style="'color:red'" th:text="${balanceList.profitOrLossValue}"></span>
                    <span th:case="'green'" th:style="'color:green'" th:text="${balanceList.profitOrLossValue}"></span>
                </td>
                <td th:text="${balanceList.last24Low}"></td>
                <td th:text="${balanceList.last24High}"></td>
                <td th:text="${balanceList.last24Volume}"></td>
    <!--            <td th:if="${balanceList.paidPrice != '-'}">-->
    <!--                <a th:href="@{/bitstamp/{cryptoId}/edit(cryptoId=${balanceList.name})}">Edit</a>-->
    <!--            </td>-->
                <td th:switch="${balanceList.paidPrice != '-'}">
                    <span th:case="${true}"><a th:href="@{/bitstamp/{cryptoId}/edit(cryptoId=${balanceList.name})}">Edit</a></span>
                    <span th:case="*"><a th:href="@{/bitstamp/{cryptoId}/add(cryptoId=${balanceList.name})}">Add</a></span>
                </td>
                <td>
                    <a th:target="_blank" th:href="@{/bitstamp/select/chart/{cryptoId}(cryptoId=${balanceList.name})}"><span class="iconify" data-icon="emojione:chart-increasing"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:switch="${pagination}">
        <p th:case="1">
            Pagination :
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
            &nbsp;&nbsp;
            2
            &nbsp;&nbsp;
            3
            &nbsp;&nbsp;
            4
            &nbsp;&nbsp;
            5
            &nbsp;&nbsp;
            6
            &nbsp;&nbsp;
            7
            &nbsp;&nbsp;
            8
            &nbsp;&nbsp;
            9
            &nbsp;&nbsp;
            10
        </p>
        <p th:case="2">
            Pagination :
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
            &nbsp;&nbsp;
            3
            &nbsp;&nbsp;
            4
            &nbsp;&nbsp;
            5
            &nbsp;&nbsp;
            6
            &nbsp;&nbsp;
            7
            &nbsp;&nbsp;
            8
            &nbsp;&nbsp;
            9
            &nbsp;&nbsp;
            10
        </p>
        <p th:case="3">
            Pagination :
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
            &nbsp;&nbsp;
            4
            &nbsp;&nbsp;
            5
            &nbsp;&nbsp;
            6
            &nbsp;&nbsp;
            7
            &nbsp;&nbsp;
            8
            &nbsp;&nbsp;
            9
            &nbsp;&nbsp;
            10
        </p>
        <p th:case="4">
            Pagination :
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
            &nbsp;&nbsp;
            5
            &nbsp;&nbsp;
            6
            &nbsp;&nbsp;
            7
            &nbsp;&nbsp;
            8
            &nbsp;&nbsp;
            9
            &nbsp;&nbsp;
            10
        </p>
        <p th:case="5">
            Pagination :
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
            &nbsp;&nbsp;
            6
            &nbsp;&nbsp;
            7
            &nbsp;&nbsp;
            8
            &nbsp;&nbsp;
            9
            &nbsp;&nbsp;
            10
        </p>
        <p th:case="6">
            Pagination :
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/6(totalPagination=${pagination})}">6</a>
            &nbsp;&nbsp;
            7
            &nbsp;&nbsp;
            8
            &nbsp;&nbsp;
            9
            &nbsp;&nbsp;
            10
        </p>
        <p th:case="7">
            Pagination :
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/6(totalPagination=${pagination})}">6</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/7(totalPagination=${pagination})}">7</a>
            &nbsp;&nbsp;
            8
            &nbsp;&nbsp;
            9
            &nbsp;&nbsp;
            10
        </p>
        <p th:case="8">
            Pagination :
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/6(totalPagination=${pagination})}">6</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/7(totalPagination=${pagination})}">7</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/8(totalPagination=${pagination})}">8</a>
            &nbsp;&nbsp;
            9
            &nbsp;&nbsp;
            10
        </p>
        <p th:case="9">
            Pagination :
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/6(totalPagination=${pagination})}">6</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/7(totalPagination=${pagination})}">7</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/8(totalPagination=${pagination})}">8</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/9(totalPagination=${pagination})}">9</a>
            &nbsp;&nbsp;
            10
        </p>
        <p th:case="10">
            Pagination :
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/6(totalPagination=${pagination})}">6</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/7(totalPagination=${pagination})}">7</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/8(totalPagination=${pagination})}">8</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/9(totalPagination=${pagination})}">9</a>
            &nbsp;&nbsp;
            <a th:href="@{/bitstamp/pagination/{totalPagination}/10(totalPagination=${pagination})}">10</a>
        </p>
        <p th:case="*">No pagination</p>
    </div>
    <h1>Cash Flow</h1>
    <table id="dtBasicExample2" class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Portfolio</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="balanceList : ${balanceList6}">
            <td th:text="${balanceList.name}"></td>
            <td th:text="${balanceList.portfolioName}"></td>
            <td th:text="${balanceList.value}"></td>
        </tr>
        </tbody>
    </table>
    <h1>Last Sold Cryptocurrencies</h1>
    <table id="dtBasicExample3" class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Sold Price</th>
            <th scope="col">Current Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Total</th>
            <th scope="col">Fee</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="balanceList : ${balanceList7}">
            <td th:text="${balanceList.datetime}"></td>
            <td th:text="${balanceList.cryptoUsdName}"></td>
            <td th:text="${balanceList.cryptoUsd}"></td>
            <td th:text="${balanceList.currentPrice}"></td>
            <td th:text="${balanceList.cryptoAmount}"></td>
            <td th:text="${balanceList.usd}"></td>
            <td th:text="${balanceList.fee}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>