<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <div th:replace="bitstamp/cryptocurrencies :: crytocurrencies"></div>
    <br><br>
    <div th:replace="bitstamp/latestboughtandsoldcrypto :: latestboughtandsoldcrypto"></div>
    <br><br>
    <div th:replace="bitstamp/cashflow :: cashflow"></div>
    <br><br>
    <div>
        <iframe src="https://www.blockchaincenter.net/static/rainbow-chart.html"  scrolling="no" style=" width: 100%; height: 650px; border: 0;  overflow: hidden;" frameBorder="0"></iframe>
    </div>
</div>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>