<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

<div th:fragment="latestboughtandsoldcrypto">
    <h1>Latest bought and sold Cryptocurrencies</h1>
    <table>
        <tbody>
        <tr>
            <td>
                <table id="dtBasicExample104" class="table table-dark table-striped table-hover">
                    <tbody>
                        <tr>
                            <!--<form th:target="_blank" th:action="@{/bitstamp/lastboughtcrypto}" th:object="${paidPriceObject}" method="POST">&ndash;&gt;-->
                            <td>
                                Select crypto name (buy & sell):
                            </td>
                            <td>
                                <select name="cryptoBoughtAndSoldName" id="cryptoBoughtAndSoldName">
                                    <option th:each="cryptoNameBoughtAndSold : ${cryptoNameBoughtAndSoldList}" th:value="${cryptoNameBoughtAndSold}" th:text="${cryptoNameBoughtAndSold}"></option>
                                </select>
                            </td>
                            <td>
                                <input type="submit" th:value="Generate" />
                            </td>
                            <!--</form>-->
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <table id="dtBasicExample4" class="table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Brought Price</th>
                        <th scope="col">Current Price</th>
                        <!--<th scope="col">Amount</th>-->
                        <th scope="col">Total</th>
                        <th scope="col">Fee</th>
                        <th scope="col">P/L</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="balanceList : ${sortedUserTransactionBoughtList}">
                        <td th:text="${balanceList.datetime}"></td>
                        <td th:text="${balanceList.cryptoUsdName}"></td>
                        <td th:text="${balanceList.cryptoUsd}"></td>
                        <td th:text="${balanceList.currentPrice}"></td>
                        <!--<td th:text="${balanceList.cryptoAmount}"></td>-->
                        <td th:text="${balanceList.usd}"></td>
                        <td th:text="${balanceList.fee}"></td>
                        <td th:switch="${balanceList.profitAndLossFlag}">
                            <span th:case="'black'" th:text="${balanceList.priceUpDownPercent}"></span>
                            <span th:case="'red'" th:style="'color:red'" th:text="${balanceList.profitAndLoss}"></span>
                            <span th:case="'green'" th:style="'color:green'" th:text="${balanceList.profitAndLoss}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>
                <table id="dtBasicExample5" class="table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Sold Price</th>
                        <th scope="col">Current Price</th>
                        <!--<th scope="col">Amount</th>-->
                        <th scope="col">Total</th>
                        <th scope="col">Fee</th>
                        <th scope="col">P/L</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="balanceList : ${sortedUserTransactionSoldList}">
                        <td th:text="${balanceList.datetime}"></td>
                        <td th:text="${balanceList.cryptoUsdName}"></td>
                        <td th:text="${balanceList.cryptoUsd}"></td>
                        <td th:text="${balanceList.currentPrice}"></td>
                        <!-- <td th:text="${balanceList.cryptoAmount}"></td>-->
                        <td th:text="${balanceList.usd}"></td>
                        <td th:text="${balanceList.fee}"></td>
                        <td th:switch="${balanceList.profitAndLossFlag}">
                            <span th:case="'black'" th:text="${balanceList.priceUpDownPercent}"></span>
                            <span th:case="'red'" th:style="'color:red'" th:text="${balanceList.profitAndLoss}"></span>
                            <span th:case="'green'" th:style="'color:green'" th:text="${balanceList.profitAndLoss}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>