<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

<div th:fragment="pagination" th:switch="${pagination}">
    <p th:case="1" th:class="pagination">
        Pagination :
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
        &nbsp;&nbsp;
        2
        &nbsp;&nbsp;
        3
        &nbsp;&nbsp;
        4
        &nbsp;&nbsp;
        5
        &nbsp;&nbsp;
        6
        &nbsp;&nbsp;
        7
        &nbsp;&nbsp;
        8
        &nbsp;&nbsp;
        9
        &nbsp;&nbsp;
        10
    </p>
    <p th:case="2" th:class="pagination">
        Pagination :
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
        &nbsp;&nbsp;
        3
        &nbsp;&nbsp;
        4
        &nbsp;&nbsp;
        5
        &nbsp;&nbsp;
        6
        &nbsp;&nbsp;
        7
        &nbsp;&nbsp;
        8
        &nbsp;&nbsp;
        9
        &nbsp;&nbsp;
        10
    </p>
    <p th:case="3" th:class="pagination">
        Pagination :
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
        &nbsp;&nbsp;
        4
        &nbsp;&nbsp;
        5
        &nbsp;&nbsp;
        6
        &nbsp;&nbsp;
        7
        &nbsp;&nbsp;
        8
        &nbsp;&nbsp;
        9
        &nbsp;&nbsp;
        10
    </p>
    <p th:case="4" th:class="pagination">
        Pagination :
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
        &nbsp;&nbsp;
        5
        &nbsp;&nbsp;
        6
        &nbsp;&nbsp;
        7
        &nbsp;&nbsp;
        8
        &nbsp;&nbsp;
        9
        &nbsp;&nbsp;
        10
    </p>
    <p th:case="5" th:class="pagination">
        Pagination :
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
        &nbsp;&nbsp;
        6
        &nbsp;&nbsp;
        7
        &nbsp;&nbsp;
        8
        &nbsp;&nbsp;
        9
        &nbsp;&nbsp;
        10
    </p>
    <p th:case="6" th:class="pagination">
        Pagination :
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/6(totalPagination=${pagination})}">6</a>
        &nbsp;&nbsp;
        7
        &nbsp;&nbsp;
        8
        &nbsp;&nbsp;
        9
        &nbsp;&nbsp;
        10
    </p>
    <p th:case="7" th:class="pagination">
        Pagination :
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/6(totalPagination=${pagination})}">6</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/7(totalPagination=${pagination})}">7</a>
        &nbsp;&nbsp;
        8
        &nbsp;&nbsp;
        9
        &nbsp;&nbsp;
        10
    </p>
    <p th:case="8" th:class="pagination">
        Pagination :
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/6(totalPagination=${pagination})}">6</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/7(totalPagination=${pagination})}">7</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/8(totalPagination=${pagination})}">8</a>
        &nbsp;&nbsp;
        9
        &nbsp;&nbsp;
        10
    </p>
    <p th:case="9" th:class="pagination">
        Pagination :
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/6(totalPagination=${pagination})}">6</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/7(totalPagination=${pagination})}">7</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/8(totalPagination=${pagination})}">8</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/9(totalPagination=${pagination})}">9</a>
        &nbsp;&nbsp;
        10
    </p>
    <p th:case="10" th:class="pagination">
        Pagination :
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/1(totalPagination=${pagination})}">1</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/2(totalPagination=${pagination})}">2</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/3(totalPagination=${pagination})}">3</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/4(totalPagination=${pagination})}">4</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/5(totalPagination=${pagination})}">5</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/6(totalPagination=${pagination})}">6</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/7(totalPagination=${pagination})}">7</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/8(totalPagination=${pagination})}">8</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/9(totalPagination=${pagination})}">9</a>
        &nbsp;&nbsp;
        <a th:href="@{/bitstamp/pagination/{totalPagination}/10(totalPagination=${pagination})}">10</a>
    </p>
    <p th:case="*" th:class="pagination">No pagination</p>
</div>

</body>
</html>